/* ******** MY STYLES ************** */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Teko&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");
body {
  font-family: "Open Sans", sans-serif;
}

@font-face {
  font-family: "granite";
  src: url(../fonts/Granite-Bgvl.ttf);
}
/* ******** BOOTSTRAP RESETS ************** */
.btn-success {
  --bs-btn-color: #ffc107;
  --bs-btn-bg: #082530;
  --bs-btn-border-color: #198754;
  --bs-btn-hover-color: #bfb195;
  --bs-btn-hover-bg: #026873;
  --bs-btn-hover-border-color: #146c43;
  --bs-btn-focus-shadow-rgb: 60, 153, 110;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #146c43;
  --bs-btn-active-border-color: #13653f;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #198754;
  --bs-btn-disabled-border-color: #198754;
}

.img-thumbnail {
  padding: 0.25rem;
  background-color: #2f444e;
  border: var(--bs-border-width) solid black;
  border-radius: var(--bs-border-radius);
  max-width: 32%;
  height: auto;
}

.btn-primary {
  background-color: #ffc107;
  border-color: black;
  color: black;
}
.btn-primary:hover {
  background-color: rgb(114, 162, 166);
}

.bg-dark {
  background-color: #082530 !important;
}

.bg-success {
  background-color: rgb(32, 31, 31) !important;
}

.card-body {
  background-color: #082530;
  color: #ffc107;
}

.dropdown-item {
  color: #ffc107;
  font-weight: bold;
  transition: all 0.3s ease-out;
}
.dropdown-item:hover {
  color: rgba(185, 22, 22, 0.75);
}

.navbar-dark {
  --bs-navbar-toggler-icon-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.75%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
.navbar-dark .navbar-toggler:hover {
  --bs-navbar-toggler-icon-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28242, 213, 27, 0.75%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  transition: all 0.3s ease-out;
}

.nav-item {
  padding-left: 0.5rem;
  transition: all 0.3s ease-out;
}
.nav-item:hover {
  background-color: #ffc107;
}

.nav-link {
  color: #ffc107;
  font-size: 1.15rem;
  font-weight: bold;
}
.nav-link:hover {
  color: var(--bs-white);
}

.card-body {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.card {
  border: solid 1px black;
}

.tracking-in-expand {
  -webkit-animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.61, 0.355, 1) both;
  animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.61, 0.355, 1) both;
}

@keyframes galeria {
  0% {
    background-image: url(../imagenes/ca-fogon1.jpg);
  }
  33% {
    background-image: url(../imagenes/4.jpg);
  }
  66% {
    background-image: url(../imagenes/sergio-mena-ferreira-N5sC8zZUgy4-unsplash.jpg);
  }
}
@keyframes australia1 {
  0% {
    background-image: url(../imagenes/auh1.jpg);
  }
  33% {
    background-image: url(../imagenes/auh2.jpg);
  }
  66% {
    background-image: url(../imagenes/auh3.jpg);
  }
  99% {
    background-image: url(../imagenes/auh1.jpg);
  }
}
@keyframes australia2 {
  0% {
    background-image: url(../imagenes/aus1.jpeg);
  }
  33% {
    background-image: url(../imagenes/aus2.jpg);
  }
  66% {
    background-image: url(../imagenes/aus3.jpg);
  }
  99% {
    background-image: url(../imagenes/aus1.jpeg);
  }
}
@keyframes australia3 {
  0% {
    background-image: url(../imagenes/auac1.jpg);
  }
  33% {
    background-image: url(../imagenes/auac2.jpg);
  }
  66% {
    background-image: url(../imagenes/auac3.jpg);
  }
  99% {
    background-image: url(../imagenes/auac1.jpg);
  }
}
@keyframes brasil1 {
  0% {
    background-image: url(../imagenes/brh1.jpg);
  }
  33% {
    background-image: url(../imagenes/brh2.jpg);
  }
  66% {
    background-image: url(../imagenes/brh3.jpg);
  }
  99% {
    background-image: url(../imagenes/brh1.jpg);
  }
}
@keyframes brasil2 {
  0% {
    background-image: url(../imagenes/brs1.jpg);
  }
  33% {
    background-image: url(../imagenes/brs2.jpg);
  }
  66% {
    background-image: url(../imagenes/brs3.jpeg);
  }
  99% {
    background-image: url(../imagenes/brs1.jpg);
  }
}
@keyframes brasil3 {
  0% {
    background-image: url(../imagenes/brac1.jpg);
  }
  33% {
    background-image: url(../imagenes/brac2.jpg);
  }
  66% {
    background-image: url(../imagenes/brac3.jpg);
  }
  99% {
    background-image: url(../imagenes/brac1.jpg);
  }
}
@keyframes costarica1 {
  0% {
    background-image: url(../imagenes/crh1.jpg);
  }
  33% {
    background-image: url(../imagenes/crh2.jpg);
  }
  66% {
    background-image: url(../imagenes/crh3.jpg);
  }
  99% {
    background-image: url(../imagenes/crh1.jpg);
  }
}
@keyframes costarica2 {
  0% {
    background-image: url(../imagenes/crs1.jpg);
  }
  33% {
    background-image: url(../imagenes/crs2.jpg);
  }
  66% {
    background-image: url(../imagenes/crs3.jpg);
  }
  99% {
    background-image: url(../imagenes/crs1.jpg);
  }
}
@keyframes costarica3 {
  0% {
    background-image: url(../imagenes/crac1.jpg);
  }
  33% {
    background-image: url(../imagenes/crac2.jpg);
  }
  66% {
    background-image: url(../imagenes/crac3.jpg);
  }
  99% {
    background-image: url(../imagenes/crac1.jpg);
  }
}
@keyframes eu1 {
  0% {
    background-image: url(../imagenes/euh1.jpg);
  }
  33% {
    background-image: url(../imagenes/euh2.jpg);
  }
  66% {
    background-image: url(../imagenes/euh3.jpg);
  }
  99% {
    background-image: url(../imagenes/euh1.jpg);
  }
}
@keyframes eu2 {
  0% {
    background-image: url(../imagenes/eus1.jpg);
  }
  33% {
    background-image: url(../imagenes/eus2.jpg);
  }
  66% {
    background-image: url(../imagenes/eus3.jpg);
  }
  99% {
    background-image: url(../imagenes/eus1.jpg);
  }
}
@keyframes eu3 {
  0% {
    background-image: url(../imagenes/euac1.jpg);
  }
  33% {
    background-image: url(../imagenes/euac2.jpg);
  }
  66% {
    background-image: url(../imagenes/euac3.jpg);
  }
  99% {
    background-image: url(../imagenes/euac1.jpg);
  }
}
@keyframes in1 {
  0% {
    background-image: url(../imagenes/inh1.jpg);
  }
  33% {
    background-image: url(../imagenes/inh2.jpg);
  }
  66% {
    background-image: url(../imagenes/inh3.jpg);
  }
  99% {
    background-image: url(../imagenes/inh1.jpg);
  }
}
@keyframes in2 {
  0% {
    background-image: url(../imagenes/ins1.jpg);
  }
  33% {
    background-image: url(../imagenes/ins2.jpg);
  }
  66% {
    background-image: url(../imagenes/ins3.jpg);
  }
  99% {
    background-image: url(../imagenes/ins1.jpg);
  }
}
@keyframes in3 {
  0% {
    background-image: url(../imagenes/inac1.jpg);
  }
  33% {
    background-image: url(../imagenes/inac2.jpg);
  }
  66% {
    background-image: url(../imagenes/inac3.jpg);
  }
  99% {
    background-image: url(../imagenes/inac1.jpg);
  }
}
@keyframes galeria {
  0% {
    background-image: url(../imagenes/ca-fogon1.jpg);
  }
  33% {
    background-image: url(../imagenes/4.jpg);
  }
  66% {
    background-image: url(../imagenes/sergio-mena-ferreira-N5sC8zZUgy4-unsplash.jpg);
  }
}
@keyframes australia1 {
  0% {
    background-image: url(../imagenes/auh1.jpg);
  }
  33% {
    background-image: url(../imagenes/auh2.jpg);
  }
  66% {
    background-image: url(../imagenes/auh3.jpg);
  }
  99% {
    background-image: url(../imagenes/auh1.jpg);
  }
}
@keyframes australia2 {
  0% {
    background-image: url(../imagenes/aus1.jpeg);
  }
  33% {
    background-image: url(../imagenes/aus2.jpg);
  }
  66% {
    background-image: url(../imagenes/aus3.jpg);
  }
  99% {
    background-image: url(../imagenes/aus1.jpeg);
  }
}
@keyframes australia3 {
  0% {
    background-image: url(../imagenes/auac1.jpg);
  }
  33% {
    background-image: url(../imagenes/auac2.jpg);
  }
  66% {
    background-image: url(../imagenes/auac3.jpg);
  }
  99% {
    background-image: url(../imagenes/auac1.jpg);
  }
}
@keyframes brasil1 {
  0% {
    background-image: url(../imagenes/brh1.jpg);
  }
  33% {
    background-image: url(../imagenes/brh2.jpg);
  }
  66% {
    background-image: url(../imagenes/brh3.jpg);
  }
  99% {
    background-image: url(../imagenes/brh1.jpg);
  }
}
@keyframes brasil2 {
  0% {
    background-image: url(../imagenes/brs1.jpg);
  }
  33% {
    background-image: url(../imagenes/brs2.jpg);
  }
  66% {
    background-image: url(../imagenes/brs3.jpeg);
  }
  99% {
    background-image: url(../imagenes/brs1.jpg);
  }
}
@keyframes brasil3 {
  0% {
    background-image: url(../imagenes/brac1.jpg);
  }
  33% {
    background-image: url(../imagenes/brac2.jpg);
  }
  66% {
    background-image: url(../imagenes/brac3.jpg);
  }
  99% {
    background-image: url(../imagenes/brac1.jpg);
  }
}
@keyframes costarica1 {
  0% {
    background-image: url(../imagenes/crh1.jpg);
  }
  33% {
    background-image: url(../imagenes/crh2.jpg);
  }
  66% {
    background-image: url(../imagenes/crh3.jpg);
  }
  99% {
    background-image: url(../imagenes/crh1.jpg);
  }
}
@keyframes costarica2 {
  0% {
    background-image: url(../imagenes/crs1.jpg);
  }
  33% {
    background-image: url(../imagenes/crs2.jpg);
  }
  66% {
    background-image: url(../imagenes/crs3.jpg);
  }
  99% {
    background-image: url(../imagenes/crs1.jpg);
  }
}
@keyframes costarica3 {
  0% {
    background-image: url(../imagenes/crac1.jpg);
  }
  33% {
    background-image: url(../imagenes/crac2.jpg);
  }
  66% {
    background-image: url(../imagenes/crac3.jpg);
  }
  99% {
    background-image: url(../imagenes/crac1.jpg);
  }
}
@keyframes eu1 {
  0% {
    background-image: url(../imagenes/euh1.jpg);
  }
  33% {
    background-image: url(../imagenes/euh2.jpg);
  }
  66% {
    background-image: url(../imagenes/euh3.jpg);
  }
  99% {
    background-image: url(../imagenes/euh1.jpg);
  }
}
@keyframes eu2 {
  0% {
    background-image: url(../imagenes/eus1.jpg);
  }
  33% {
    background-image: url(../imagenes/eus2.jpg);
  }
  66% {
    background-image: url(../imagenes/eus3.jpg);
  }
  99% {
    background-image: url(../imagenes/eus1.jpg);
  }
}
@keyframes eu3 {
  0% {
    background-image: url(../imagenes/euac1.jpg);
  }
  33% {
    background-image: url(../imagenes/euac2.jpg);
  }
  66% {
    background-image: url(../imagenes/euac3.jpg);
  }
  99% {
    background-image: url(../imagenes/euac1.jpg);
  }
}
@keyframes in1 {
  0% {
    background-image: url(../imagenes/inh1.jpg);
  }
  33% {
    background-image: url(../imagenes/inh2.jpg);
  }
  66% {
    background-image: url(../imagenes/inh3.jpg);
  }
  99% {
    background-image: url(../imagenes/inh1.jpg);
  }
}
@keyframes in2 {
  0% {
    background-image: url(../imagenes/ins1.jpg);
  }
  33% {
    background-image: url(../imagenes/ins2.jpg);
  }
  66% {
    background-image: url(../imagenes/ins3.jpg);
  }
  99% {
    background-image: url(../imagenes/ins1.jpg);
  }
}
@keyframes in3 {
  0% {
    background-image: url(../imagenes/inac1.jpg);
  }
  33% {
    background-image: url(../imagenes/inac2.jpg);
  }
  66% {
    background-image: url(../imagenes/inac3.jpg);
  }
  99% {
    background-image: url(../imagenes/inac1.jpg);
  }
}
.bg-australia,
.bg-brasil,
.bg-cr,
.bg-eeuu,
.bg-indonesia,
.bg-multimedia,
.bg-nosotros,
.bg-contacto,
.bg-sunset {
  height: 120vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.bg-sunset {
  background-image: url(../imagenes/ca-fogon1.jpg);
  animation: galeria 15s infinite;
}

.australia-uno {
  background-image: url(../imagenes/auh1.jpg);
  animation: australia1 15s infinite;
  height: 70vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.australia-dos {
  background-image: url(../imagenes/aus1.jpeg);
  animation: australia2 15s infinite;
  height: 70vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.australia-tres {
  background-image: url(../imagenes/auac1.jpg);
  animation: australia3 15s infinite;
  height: 70vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.brasil-uno {
  background-image: url(../imagenes/brh1.jpg);
  animation: brasil1 15s infinite;
  height: 70vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.brasil-dos {
  background-image: url(../imagenes/brs1.jpg);
  animation: brasil2 15s infinite;
  height: 70vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.brasil-tres {
  background-image: url(../imagenes/brac1.jpg);
  animation: brasil3 15s infinite;
  height: 70vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.costa-rica-uno {
  background-image: url(../imagenes/crh1.jpg);
  animation: costarica1 15s infinite;
  height: 70vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.costa-rica-dos {
  background-image: url(../imagenes/crs1.jpg);
  animation: costarica2 15s infinite;
  height: 70vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.costa-rica-tres {
  background-image: url(../imagenes/crac1.jpg);
  animation: costarica3 15s infinite;
  height: 70vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.eeuu-uno {
  background-image: url(../imagenes/euh1.jpg);
  animation: eu1 15s infinite;
  height: 70vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.eeuu-dos {
  background-image: url(../imagenes/eus1.jpg);
  animation: eu2 15s infinite;
  height: 70vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.eeuu-tres {
  background-image: url(../imagenes/euac1.jpg);
  animation: eu3 15s infinite;
  height: 70vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.indonesia-uno {
  background-image: url(../imagenes/euh1.jpg);
  animation: in1 15s infinite;
  height: 70vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.indonesia-dos {
  background-image: url(../imagenes/eus1.jpg);
  animation: in2 15s infinite;
  height: 70vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.indonesia-tres {
  background-image: url(../imagenes/euac1.jpg);
  animation: in3 15s infinite;
  height: 70vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.parrafo {
  height: 300px;
}

.bg-nosotros-div {
  background-color: #000000;
}

.bg-contacto {
  background-image: url(../imagenes/hombres-chicas-estan-surfeando.jpg);
  height: 140vh;
}

.bg-nosotros {
  background-image: url(../imagenes/Untitled.png);
}

.bg-multimedia {
  background-image: url(../imagenes/41.png);
}

.bg-australia {
  background-image: url(../imagenes/austra.jpg);
}

.bg-brasil {
  background-image: url(../imagenes/br-principal.jpg);
}

.bg-cr {
  background-image: url(../imagenes/costa-rica-principal.jpg);
}

.bg-eeuu {
  background-image: url(../imagenes/ca-principal.jpg);
}

.bg-indonesia {
  background-image: url(../imagenes/indonesia.jpg);
}

a {
  color: rgb(114, 162, 166);
  transition: all 0.3s ease-out;
}

.titulo-australia {
  font-family: "granite";
}

.titulo-principal {
  font-family: "Open Sans", sans-serif;
  font-family: "Teko", sans-serif;
  font-size: 80px;
}

.logo {
  width: 30px;
}

.logo2 {
  width: 60px;
}

.main {
  background-image: url(../imagenes/SUNSETS.png);
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Open Sans", sans-serif;
  font-family: "Teko", sans-serif;
  color: white;
  font-size: 80px;
}

.span {
  font-family: granite;
}

.color-fondo {
  background-color: rgb(0, 0, 0);
  /*  background-image: linear-gradient(360deg, #cebcbc, #082a35 99.9%); */
  /*   background-image: linear-gradient(131deg, #ffffff, #1a5b93); */
}

.width-viajes {
  width: 50%;
}

.imagen-amigo {
  border-radius: 100%;
}

.main p {
  line-height: 0.7;
}

.descripcion {
  height: 60vh;
}

.texto-principal {
  letter-spacing: 1px;
}

.texto-final {
  font-size: 16px;
  letter-spacing: 1px;
}

/* *********** TARJETAS *********** */
.tarjeta .tarj-div {
  transition: all 0.5s;
}
.tarjeta .tarj-div:hover {
  transform: scale(1.03);
}

.img-tarj {
  height: 180px;
}

.tarjetas {
  background-color: rgb(114, 162, 166);
  height: 100%;
  padding: 70px;
}
.tarjetas .tarj {
  position: relative;
  width: 300px;
  height: 350px;
  margin: 10px;
}
.tarjetas .tarj .face {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 10px;
  overflow: hidden;
  transition: 0.5s;
}
.tarjetas .tarj .front {
  transform: perspective(600px) rotateY(0deg);
  box-shadow: 0 5px 10px #000;
}
.tarjetas .tarj .front img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.tarjetas .tarj .front h3 {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 45px;
  line-height: 45px;
  color: #fff;
  background: rgba(0, 0, 0, 0.4);
  text-align: center;
}
.tarjetas .tarj .back {
  transform: perspective(600px) rotateY(180deg);
  background: rgb(3, 35, 54);
  padding: 15px;
  color: #f3f3f3;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  box-shadow: 0 5px 10px #000;
}
.tarjetas .tarj .back h3 {
  font-size: 30px;
  margin-top: 20px;
  letter-spacing: 2px;
  text-decoration-line: underline;
}
.tarjetas .tarj .back p {
  letter-spacing: 1px;
}

.tarj:hover .front {
  transform: perspective(600px) rotateY(180deg);
}

.tarj:hover .back {
  transform: perspective(600px) rotateY(360deg);
}

/* *********MEDIA QUERIES************ */
/*  Small devices (landscape phones, 576px and up) */
@media (max-width: 767px) {
  .width-viajes {
    width: 80%;
  }
}
/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .nav-item:hover {
    background-color: transparent;
  }
}
/* // Large devices (desktops, 992px and up) */
/* // X-Large devices (large desktops, 1200px and up) */
/* // XX-Large devices (larger desktops, 1400px and up) */

/*# sourceMappingURL=styles.css.map */
