/* ******** CUSTOM PROPIETIES ************** */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Teko&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");
body {
  font-family: "Open Sans", sans-serif;
}

@font-face {
  font-family: "granite";
  src: url(../fonts/Granite-Bgvl.ttf);
}
.btn-success {
  --bs-btn-color: #ffc107;
  --bs-btn-bg: #082530;
  --bs-btn-border-color: #198754;
  --bs-btn-hover-color: #bfb195;
  --bs-btn-hover-bg: #026873;
  --bs-btn-hover-border-color: #146c43;
  --bs-btn-focus-shadow-rgb: 60, 153, 110;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #146c43;
  --bs-btn-active-border-color: #13653f;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #198754;
  --bs-btn-disabled-border-color: #198754;
}

.img-thumbnail {
  padding: 0.25rem;
  background-color: rgba(21, 64, 56, 0.7490196078);
  border: var(--bs-border-width) solid black;
  border-radius: var(--bs-border-radius);
  max-width: 32%;
  height: auto;
}

.btn-primary {
  background-color: #ffc107;
  border-color: black;
  color: black;
}

a {
  color: rgb(114, 162, 166);
  transition: all 0.3s ease-out;
}
a:hover {
  color: rgba(0, 128, 0, 0.521);
}

.bg-dark {
  background-color: #082530 !important;
}

.card-body {
  background-color: #082530;
  color: #ffc107;
}

.dropdown-item {
  color: #ffc107;
  font-weight: bold;
  transition: all 0.3s ease-out;
}
.dropdown-item:hover {
  color: rgba(185, 22, 22, 0.75);
}

.navbar-dark {
  --bs-navbar-toggler-icon-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.75%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
.navbar-dark .navbar-toggler:hover {
  --bs-navbar-toggler-icon-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28242, 213, 27, 0.75%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  transition: all 0.3s ease-out;
}

.nav-item {
  padding-left: 0.5rem;
  transition: all 0.3s ease-out;
}
.nav-item:hover {
  background-color: #ffc107;
}

.nav-link {
  color: #ffc107;
  font-size: 1.15rem;
  font-weight: bold;
}
.nav-link:hover {
  color: var(--bs-white);
}

/* ******** MY STYLES ************** */
.bg-australia,
.bg-brasil,
.bg-cr,
.bg-eeuu,
.bg-indonesia,
.bg-multimedia,
.bg-nosotros,
.bg-contacto {
  height: 120vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.bg-nosotros-div {
  background-color: #0c1425;
}

.bg-contacto {
  background-image: url(../imagenes/hombres-chicas-estan-surfeando.jpg);
  height: 100%;
}

.bg-nosotros {
  background-image: url(../imagenes/1.jpg);
}

.bg-multimedia {
  background-image: url(../imagenes/41.png);
}

.bg-australia {
  background-image: url(../imagenes/austra.jpg);
}

.bg-brasil {
  background-image: url(../imagenes/br-principal.jpg);
}

.bg-cr {
  background-image: url(../imagenes/costa-rica-principal.jpg);
}

.bg-eeuu {
  background-image: url(../imagenes/ca-principal.jpg);
}

.bg-indonesia {
  background-image: url(../imagenes/indonesia.jpg);
}

.titulo-australia {
  font-family: "granite";
}

.logo {
  width: 30px;
}

.main {
  background-image: url(../imagenes/SUNSETS.png);
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Open Sans", sans-serif;
  font-family: "Teko", sans-serif;
  color: white;
  font-size: 80px;
}

.span {
  font-family: granite;
}

.color-fondo {
  background-color: black;
  /*  background-image: linear-gradient(360deg, #cebcbc, #082a35 99.9%); */
  /*   background-image: linear-gradient(131deg, #ffffff, #1a5b93); */
}

.width-viajes {
  width: 50%;
}

.imagen-amigo {
  border-radius: 100%;
}

.main p {
  line-height: 0.7;
}

/* *********MEDIA QUERIES************ */
/*  Small devices (landscape phones, 576px and up) */
@media (max-width: 767px) {
  .width-viajes {
    width: 80%;
  }
}
/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .nav-item:hover {
    background-color: transparent;
  }
}
/* // Large devices (desktops, 992px and up) */
/* // X-Large devices (large desktops, 1200px and up) */
/* // XX-Large devices (larger desktops, 1400px and up) */

/*# sourceMappingURL=styles.css.map */
