@keyframes galeria {
  0% {
    background-image: url(../imagenes/ca-fogon1.jpg);
  }
  33% {
    background-image: url(../imagenes/4.jpg);
  }
  66% {
    background-image: url(../imagenes/sergio-mena-ferreira-N5sC8zZUgy4-unsplash.jpg);
  }
}

@keyframes australia1 {
  0% {
    background-image: url(../imagenes/auh1.jpg);
  }
  33% {
    background-image: url(../imagenes/auh2.jpg);
  }
  66% {
    background-image: url(../imagenes/auh3.jpg);
  }
  99% {
    background-image: url(../imagenes/auh1.jpg);
  }
}

@keyframes australia2 {
  0% {
    background-image: url(../imagenes/aus1.jpeg);
  }
  33% {
    background-image: url(../imagenes/aus2.jpg);
  }
  66% {
    background-image: url(../imagenes/aus3.jpg);
  }
  99% {
    background-image: url(../imagenes/aus1.jpeg);
  }
}

@keyframes australia3 {
  0% {
    background-image: url(../imagenes/auac1.jpg);
  }
  33% {
    background-image: url(../imagenes/auac2.jpg);
  }
  66% {
    background-image: url(../imagenes/auac3.jpg);
  }
  99% {
    background-image: url(../imagenes/auac1.jpg);
  }
}

@keyframes brasil1 {
  0% {
    background-image: url(../imagenes/brh1.jpg);
  }
  33% {
    background-image: url(../imagenes/brh2.jpg);
  }
  66% {
    background-image: url(../imagenes/brh3.jpg);
  }
  99% {
    background-image: url(../imagenes/brh1.jpg);
  }
}

@keyframes brasil2 {
  0% {
    background-image: url(../imagenes/brs1.jpg);
  }
  33% {
    background-image: url(../imagenes/brs2.jpg);
  }
  66% {
    background-image: url(../imagenes/brs3.jpeg);
  }
  99% {
    background-image: url(../imagenes/brs1.jpg);
  }
}

@keyframes brasil3 {
  0% {
    background-image: url(../imagenes/brac1.jpg);
  }
  33% {
    background-image: url(../imagenes/brac2.jpg);
  }
  66% {
    background-image: url(../imagenes/brac3.jpg);
  }
  99% {
    background-image: url(../imagenes/brac1.jpg);
  }
}

@keyframes costarica1 {
  0% {
    background-image: url(../imagenes/crh1.jpg);
  }
  33% {
    background-image: url(../imagenes/crh2.jpg);
  }
  66% {
    background-image: url(../imagenes/crh3.jpg);
  }
  99% {
    background-image: url(../imagenes/crh1.jpg);
  }
}

@keyframes costarica2 {
  0% {
    background-image: url(../imagenes/crs1.jpg);
  }
  33% {
    background-image: url(../imagenes/crs2.jpg);
  }
  66% {
    background-image: url(../imagenes/crs3.jpg);
  }
  99% {
    background-image: url(../imagenes/crs1.jpg);
  }
}

@keyframes costarica3 {
  0% {
    background-image: url(../imagenes/crac1.jpg);
  }
  33% {
    background-image: url(../imagenes/crac2.jpg);
  }
  66% {
    background-image: url(../imagenes/crac3.jpg);
  }
  99% {
    background-image: url(../imagenes/crac1.jpg);
  }
}

@keyframes eu1 {
  0% {
    background-image: url(../imagenes/euh1.jpg);
  }
  33% {
    background-image: url(../imagenes/euh2.jpg);
  }
  66% {
    background-image: url(../imagenes/euh3.jpg);
  }
  99% {
    background-image: url(../imagenes/euh1.jpg);
  }
}

@keyframes eu2 {
  0% {
    background-image: url(../imagenes/eus1.jpg);
  }
  33% {
    background-image: url(../imagenes/eus2.jpg);
  }
  66% {
    background-image: url(../imagenes/eus3.jpg);
  }
  99% {
    background-image: url(../imagenes/eus1.jpg);
  }
}

@keyframes eu3 {
  0% {
    background-image: url(../imagenes/euac1.jpg);
  }
  33% {
    background-image: url(../imagenes/euac2.jpg);
  }
  66% {
    background-image: url(../imagenes/euac3.jpg);
  }
  99% {
    background-image: url(../imagenes/euac1.jpg);
  }
}

@keyframes in1 {
  0% {
    background-image: url(../imagenes/inh1.jpg);
  }
  33% {
    background-image: url(../imagenes/inh2.jpg);
  }
  66% {
    background-image: url(../imagenes/inh3.jpg);
  }
  99% {
    background-image: url(../imagenes/inh1.jpg);
  }
}

@keyframes in2 {
  0% {
    background-image: url(../imagenes/ins1.jpg);
  }
  33% {
    background-image: url(../imagenes/ins2.jpg);
  }
  66% {
    background-image: url(../imagenes/ins3.jpg);
  }
  99% {
    background-image: url(../imagenes/ins1.jpg);
  }
}

@keyframes in3 {
  0% {
    background-image: url(../imagenes/inac1.jpg);
  }
  33% {
    background-image: url(../imagenes/inac2.jpg);
  }
  66% {
    background-image: url(../imagenes/inac3.jpg);
  }
  99% {
    background-image: url(../imagenes/inac1.jpg);
  }
}
